<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" type="text/css" href="../src/stylesheet.css">
<meta name="google-site-verification" content="2RcAdnTNcUFlyjmCutWNYLzrm8pKAi66-kJFvB6EFL8" />
<meta property="og:title" content="<%= title %>" />
<meta property="og:description" content="<%= description %>" />
<meta property="og:url" content="<%= webUrl %>" />
<meta property="og:type" content="<%= type %>" />